<form id="formAddNewRow" action="#" title="Add New Item">
<table border="0" >
    <tr valign="top"><td style="width:40%;"><input type="hidden" id="id" name="id" value="-1" rel="0"/>
    <label for="name">SID</label></td><td><input type="text" name="SID" id="SID" class="required"  rel="1"/><br /></td></tr>
    <tr valign="top"><td><label for="name">UGC</label></td><td><input type="text" name="UGC" id="UGC" rel="2" /><br /></td></tr>
    <tr valign="top"><td><label for="name">Desc</label></td><td><textarea name="Desc" id="Desc" cols="20" rows="3" rel="3">Description</textarea><br /></td></tr>
    <tr valign="top"><td><label for="name">Abbrev</label></td><td><input type="text" name="Abbrev" id="Abbrev"   rel="4"/><br /></td></tr>
    <tr valign="top"><td><label for="name">Val</label></td><td><input type="text"" name="Val" id="Val" rel="5"/><br /></td></tr>
    <tr valign="top"><td><label for="name">SCC</label></td><td><input type="text" name="SCC" id="SCC" class="required" rel="6" /><br /></td></tr>
    <tr valign="top"><td><label for="name">Seq</label></td><td><input type="text" name="Seq" id="Seq" maxlength="3" rel="7" /><br /></td></tr>
</table>
</form>